@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.css");

$primary: #444;
$lighter: #7a7a7a;
$darker: #222;
$grey: #6e6e6e;

$red: #fbe4e4;
$orange: #faebdd;
$yellow: #fbf3db;
$green: #ddedea;
$blue: #ddebf1;
$purple: #eae4f2;
$pink: #f4dfeb;
$lightgrey: #ebeced;

$maxWidth: 800px;

$size1: 1.8rem;
$size2: 1.5rem;
$size3: 1.2rem;
$size4: 1.1rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: $primary;
  font-family: "Inter", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 17px;
  line-height: 160%;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: $maxWidth;
  padding: 1rem;
  margin: 1rem auto;
}

/* Basics */

h1,
h2,
h3,
h4 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  line-height: 105%;
  font-weight: 600;
}

h1 {
  font-size: $size1;
  padding-top: 1.4rem;
  font-weight: 700;
}

h2 {
  font-size: $size2;
  padding-top: 1.4rem;
}

h3 {
  font-size: $size3;
}

h4 {
  font-size: $size4;
}

p {
  margin: 1rem 0;
}

ul,
ol {
  margin-left: 30px;
}

li {
  padding: 0.5rem 0;
}

// Main links
header a,
.header-link a,
.extension a,
.snippet a {
  color: inherit;
  font-weight: inherit;
  border-bottom: 2px solid transparent;

  &:hover {
    color: inherit;
    border-bottom: 2px solid $lightgrey;
    transition: 0.2s border-bottom;
  }
}

// Text links
a {
  color: $primary;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid $lightgrey;

  &:hover {
    color: $darker;
    transition: 0.2s color;
  }
}

// Footer links
footer a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  padding-bottom: none;
  border-bottom: none;

  &:hover {
    color: $darker;
    transition: 0.2s color;
    padding-bottom: none;
    border-bottom: none;
  }
}

blockquote {
  margin: 0 0 1.5rem 0;
  border-left: 16px solid $lightgrey;
  padding: 0.5rem 1.5rem;
  font-size: $size3;
}

blockquote cite {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

.date {
  font-weight: 400;
  color: $grey;
  font-size: 0.9rem;
}

/* Sections */

.container {
  flex: 1 0 auto;
}

// Header
header {
  text-transform: lowercase;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: $size4;

  h3 {
    display: inline;
    font-weight: inherit;
  }

  ul {
    list-style: none;
    float: right;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-left: 1.5rem;
    padding: 0;
  }

  @media (max-width: 650px) {
    font-size: 0.9rem;

    li {
      margin-left: 1rem;
    }
  }
}

// Footer
footer {
  display: flex;
  color: $primary;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 100px;
}

// Homepage
.post {
  padding-bottom: 60px;
}

hr {
  margin: 80px;
}

hr:last-of-type {
  display: none;
}

// Blog and Pages
.collection h1 {
  padding-bottom: 20px;
}

// Snippet
.snippet {
  padding: 20px 0;

  p {
    margin: 5px 0;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0;
    margin-bottom: 10px;
  }
}

// Content
.content {
  margin-bottom: 100px;

  @media (max-width: 650px) {
    margin-bottom: 50px;
  }
}

.content .body {
  margin: 40px 0;

  @media (max-width: 650px) {
    margin: 20px 0;
  }
}

// Extension
.extension {
  margin-bottom: 100px;

  @media (max-width: 650px) {
    margin-bottom: 50px;
  }

  a {
    font-weight: 600;
    font-size: $size4;
  }
}

// Comments
#comments {
  h2 {
    padding-bottom: 30px;
  }
}

// Tags
.tag {
  background: $lightgrey;
  color: $darker;
  margin: 0.4rem 0;
  padding: 0.2rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  border-bottom: 0;
  white-space: nowrap;
  line-height: 1;
}

.strategies {
  background: $red;
}

.meta {
  background: $orange;
}

.paradigms {
  background: $yellow;
}

.personal {
  background: $green;
}

.thoughts {
  background: $blue;
}

.books {
  background: $purple;
}

/* Utilities */

.aside {
  padding-top: 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.half {
  width: 50%;
  display: block;
  padding: 5px;

  &:last-of-type {
    text-align: right;
  }

  h4 {
    padding-top: 0;
  }
}

.icon {
  font-size: 1.1rem;
  padding-left: 14px;
}
