@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #2e2e2e;
  font-family: "Inter", "Lato", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 180%;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Sections */

.container,
footer {
  max-width: 760px;
  padding: 1rem;
}

.container {
  min-height: 70vh;
  margin: 1rem auto;
}

footer {
  display: flex;
  margin: 3rem auto 1rem auto;
  color: #6e6e6e;
  font-weight: 300;
  font-size: 0.9rem;
}

header {
  text-transform: lowercase;
  margin-bottom: 50px;
  font-weight: 500;
}

header a {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: inherit;
}

footer a {
  color: inherit;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  color: rgb(93, 4, 121);
  transition: 0.2s color;
}

header h3 {
  display: inline;
  font-weight: inherit;
}

header ul {
  list-style: none;
  float: right;
  margin: 0;
}

header li {
  display: inline-block;
  margin-left: 1.5rem;
  padding: 0;
}

.snippet {
  padding: 0.5rem 0;
}

.post {
  padding-bottom: 60px;
}

/* Basics */

h1,
h2,
h3,
h4 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  line-height: 105%;
  font-weight: 600;
}

h1 {
  font-size: 1.8rem;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  padding-top: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

p {
  margin: 1rem 0;
}

ul,
ol {
  margin-left: 30px;
}

li {
  padding: 0.5rem 0;
}

a {
  color: rgb(93, 4, 121);
  text-decoration: none;
}

a:hover {
  color: #2e2e2e;
  transition: 0.2s color;
}

blockquote {
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

blockquote cite {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

/* Utilities */

.grey {
  color: #6e6e6e;
  font-weight: 300;
}

.aside {
  padding-top: 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.half {
  width: 50%;
  display: block;
}

.half:last-of-type {
  text-align: right;
}

.half h4 {
  padding-top: 0;
}

.icon {
  font-size: 1.1rem;
  padding-left: 14px;
}

.profile .text {
  width: 70%;
  float: left;
  padding-bottom: 1.5rem;
}

.profile .photo {
  width: 30%;
  float: right;
  padding: 1rem;
  min-height: 270px;
}

.profile img {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 650px) {
  .profile .text {
    float: none;
    width: 100%;
  }

  .profile .photo {
    width: 100%;
    float: none;
    text-align: center;
    min-height: 250px;
  }

  .profile .photo img {
    max-width: 200px;
    max-height: 200px;
  }
}
